<div class=main>
  <div class = items>
    <h1>Gear</h1>
    <div class="thumbnail">
      <%=image_tag "fishingpole.jpg", :width=>"80", :height=>"80", :id=>"picture" %><br>
      Footwear
    </div>

    <div class="thumbnail">
      <%= image_tag "backpack.jpg", :alt=>"", :width=>"80", :height=>"80", :id=>"picture" %><br>
      Pants
    </div>

    <div class="thumbnail">
      <%= image_tag "tent.jpg", :alt=>"", :width=>"80", :height=>"80", :id=>"picture" %><br>
      Jackets
    </div>

    <div class="thumbnail">
      <%= image_tag "cook.jpg", :alt=>"", :width=>"80", :height=>"80", :id=>"picture" %><br>
      Shirts
    </div>

    <div class="thumbnail">
      <%= image_tag "food.jpg", :alt=>"", :width=>"80", :height=>"80", :id=>"picture" %><br>
      Shorts
    </div>

    <div class="thumbnail">
      <%= image_tag "headlamp.jpg", :alt=>"", :width=>"80", :height=>"80", :id=>"fishingpole" %><br>
      Underwear
    </div> 
  </div>
